@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .bebas{
      font-family: 'BebasNeue';
    }

  }



  @font-face {
    font-family: 'BebasNeue';
    src: url('../../asset/BebasNeue\ Regular.otf');


    font-weight: 400!important;
    }

    